* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.homeContainer {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.contentContainer {
  border: 1px solid;
  width: 1900px;
  height: 850px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.gridContainer {
  border: 1px solid;
  width: 80%;
  height: 100%;
}
